# Default ignored files
/shelf/
GKSim/.idea/workspace.xml
GKSim/.idea/misc.xml
GKSim/.idea/modules.xml
GKSim/.idea/runConfigurations.xml
GKSim/.idea/uiDesigner.xml
GKSim/.idea/.gitignore
GKSim/.idea/artifacts
GKSim/src/META-INF
GKSim/out/
GKSim/GKSim.iml

GKSimServer/.idea/workspace.xml
GKSimServer/.idea/misc.xml
GKSimServer/.idea/modules.xml
GKSimServer/.idea/runConfigurations.xml
GKSimServer/.idea/uiDesigner.xml
GKSimServer/.idea/.gitignore
GKSimServer/out/
GKSimServer/GKSimServer.iml

/GKSim - Copy/